.box {
    width: 80%;
    border-radius: 10px;
    border: 1px solid #cfd8dc;
    padding: 10px;
    margin: 20px;
    text-align: center;
    background-color: rgb(246, 238, 238);
}


nav {
    display: flex; /* 1 */
    justify-content: space-between; /* 2 */
    padding: 1rem 2rem; /* 3 */
    background: rgb(245, 216, 129); /* 4 */
  }

  h3 {
    font-size: 20px;
    margin: 5px;
  }

  body {
    font-family: Helvetica, sans-serif;
  }

.div {
    text-align: center;
    padding: 10px;
    margin: 20px;
    display: inline-block;


}

.first {
    background-color: rgba(0, 128, 0, 0.567);
}

.second {
    background-color: rgba(164, 1, 1, 0.695);
}




  