body {
    background: linear-gradient(155deg, rgba(101,152,90,1) 0%, rgba(110,193,111,1) 28%, rgba(86,199,222,1) 100%);
}

button {
    height: 20px;
}

.box {
    border-radius: 10px;
    border: 1px solid #cfd8dc;
    display: inline-table;
    width: 200px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    background-color: rgb(246, 238, 238);
}

.infobox {
    border-radius: 10px;
    border: 1px solid #cfd8dc;
    width: 91%;
    padding: 10px;
    margin: 20px;
    text-align: left;
    background-color: rgb(246, 238, 238);
}

nav {
    display: flex; 
    margin: 5px; 
    padding-left: 20px;

  }

  h3 {
    font-size: 20px;
    color: black;

  }

  body {
    font-family: Helvetica, sans-serif;
  }






  